[Unit]
Description=<<APP_NAME>> Wireguard connection
After=network-online.target

[Service]
Type=oneshot
ExecStart=<<SCRIPT_PATH>> --random
ExecStop=<<SCRIPT_PATH>> --disconnect
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
